server:
  host: ote.example.registry
  port: 700

authentication:
  username: registrar-id
  password: registrar-password

tls:
  cert_file: certs/client.crt
  key_file: certs/client.key
  ca_file: certs/ca.crt
  insecure_skip_verify: false
  allow_insecure: false

timeout:
  connect: 30
  read: 30
  write: 30

transport:
  max_frame_size: 16777216

login:
  object_uris:
    - urn:ietf:params:xml:ns:domain-1.0
    - urn:ietf:params:xml:ns:contact-1.0
    - urn:ietf:params:xml:ns:host-1.0
  require_supported_objects: true
  extension_uris: []
  require_supported_extensions: true
